
[Unit]
Description=Prometheus MySQL Exporter
Wants=network.target
After=network.target

[Service]
User={{ mysql_exporter_user }}
Group={{ mysql_exporter_user }}
Type=simple
ExecStart=/opt/{{ mysql_exporter_user }}/mysqld_exporter-0.15.1.linux-amd64/mysqld_exporter --config.my-cnf /etc/.my.cnf
Restart=always

[Install]
WantedBy=multi-user.target